/* Css des pages
      de menu */

/* Bouton retour */
#btn-back{
    position: absolute; left: 5%; top: 3%; font-size: 25px;
}

#btn-back i{
    color: black;
}

/* Illustration */
#photo-menu{
    width: 100%; height: 380px; position: absolute; top: 0; z-index : -2;
}

#photo-menu img{
    width: 100%;  height: 100%; object-fit: cover;
}

/* Menus */
.big-section-menu{
    padding: 30px 5%; background: linear-gradient(#F2F2F2, #e3e3e3); border-radius: 3em 3em 0 0;
    margin-top: 230px;
}

.title-menu{
    display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;
    width: 100%;
}

.title-menu h1{
    font-size: 26px; margin: 10px 0;
}

.title-menu i{
    font-size: 24px; margin-right: 20px;
}

.menu{
    width: 100%; height: 100%; display: flex; flex-direction: column; margin: 0;
}

.menu a{
    width: 100%; text-decoration: none; color: unset;
}

.menu h3{
    width: 100%; font-weight: unset; margin-bottom: 0;
}

hr{
    border: 2px solid #99E2D0; width: 14%; margin-left: 0;
}

.choix{
    width: 100%; display: flex; flex-direction: column; margin: 10px 0; padding: 3%;
    background: white; border-radius: 15px;  box-shadow: 1px 1px 10px #aaa;
    position: relative; overflow-x: hidden; white-space: nowrap;
}

.choix__nom, .choix__compo{
    display: inline-block; overflow-x: hidden; text-overflow: ellipsis;
}

.choix__nom{
    font-weight: bold; font-size: 20px; width: 90%; transition: width .5s;
}

.choix__compo{
    margin-top: 7px; width: 80%; transition: width .5s;
}

.choix__prix{
    position: absolute; width: 15%; right: 0; bottom: 15%; font-weight: bold; display: flex;
    transition: width .5s;
}

.choix__select{
    position: absolute; display: flex; justify-content: center; align-items: center;
    width: 0; height: 100%; top: 0; right: 0; background-color: #99E2D0;
    transition: width .5s;
}

.choix__select i{
    font-size: 23px; color: white; transition: transform 0.5s;
}

.choix:hover{
    cursor: pointer;
}

.choix:hover > .choix__nom{
    width: 75%;
}

.choix:hover > .choix__compo{
    width: 65%;
}

.choix:hover > .choix__prix{
    width: 25%;
}

.choix:hover > .choix__select{
    width: 15%;
}

.choix:hover > .choix__select i{
    transform: rotate(360deg);
}

/* Bouton de commande */
.btn-order{
    margin: 50px 0;
}

.btn-order a{
    padding: 14px 50px; font-weight: bold; font-size: 14px; font-weight: normal; color: white;
    background-image: linear-gradient(175deg, #FF79DA, #9356DC); border-radius: 30px;
    box-shadow: 1px 3px 10px #a1a1a1; transition: all 0.4s;
}

.btn-order a:hover{
    box-shadow: 1px 4px 8px #787878; opacity: 0.9;
}