/* Css des pages de menu */

#btn-back{
    position: absolute; left: 20px; top: 20px; font-size: 20px;
}

#btn-back i{
    color: black;
}

#photo-menu{
    width: 100%; position: absolute; top: 60px; z-index : -1; 
}

#photo-menu img{
    width: 100%; object-fit: cover;
}

.big-section-menu{
    padding: 50px 10px; background: #F2F2F2; border-radius: 3em 3em 0 0;
    margin-top: 230px;
}

.title-menu{
    display: flex; justify-content: space-between; align-items: center;
}

.title-menu i{
    font-size: 24px;
}

.btn-order{
    margin-top: 30px;
}

.btn-order a{
    padding: 10px 30px; font-weight: bold; font-size: 14px;
    background-image: linear-gradient(#FF79DA, #ab5ddb); border-radius: 30px;
}