html{
    margin: 0; padding: 0;
}

body{ 
    font-family: 'Roboto', sans-serif; margin: 0;
}

*{
    box-sizing: border-box;
}

main{
    margin: 0; padding: 0;
}

.title-menu h1, footer h3{
    font-family: 'Shrikhand', cursive;
}

a{
    text-decoration: none;
}

/* Header */
header{
    display: flex; justify-content: center; align-items: center;
    height: 70px; background: white;
}

#logo img{
    height: 30px; margin-bottom: -15px;
}

/* Main */
section{
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}

#localisation{
    width: 100%; padding: 15px 0; background-color: #e5e5e5;
    box-shadow: inset 0 3px 5px #cccccc;
}

#localisation i{
    margin: 0; width: 30%; text-align: right;
}

#localisation #search{
    font-size: 16px; width: 40%; border: none; background-color: #e5e5e5;
    color: black; text-align: center;
}


/* Page d'accueil */
    /* Section introduction */
#intro{
    display: flex; flex-direction: column; align-items: center; background-color: #F2F2F2;
    padding: 10px 0 30px 0; width: 100%;
}

#intro h1{
    width: 70%; text-align: center; margin-bottom: 10px;
}

#intro p{
    width: 80%; text-align: center; margin-top: 0;
}

#intro span{
    margin: 20px 0;
}

#intro a{
    padding: 14px 20px; font-weight: bold; font-size: 14px; font-weight: normal; color: white;
    background-image: linear-gradient(175deg, #FF79DA, #9356DC); border-radius: 30px;
    box-shadow: 1px 3px 10px #a1a1a1; transition: all 0.4s;
}

#intro a:hover{
    box-shadow: 1px 4px 8px #787878; opacity: 0.9;
}

    /* Section fonctionnement */
#fonction-liste{
    margin: 40px 0; padding: 0;
}

#fonction-liste h2{
    width: 90%; margin-top: 0;
}

.fonction{
    background: #F2F2F2; padding: 20px 0; width: 85%; position: relative;
    margin: 12px 0; border-radius: 20px; box-shadow: 1px 2px 10px #aaa;
    white-space: nowrap; display: flex; align-items: center;
}

.fonction__num{
    position: absolute; left: -12px; background: #9356DC; font-size: 12px; color: white;
    padding: 6px 9px 4px 9px; border-radius: 20px;
}

.fonction i{
    font-size: 20px;
}

.fonction__icon--grey, .fonction__icon--primary{
    width: 25%; padding-left: 15px; text-align: center;
}

.fonction__txt{
    display: inline-block; overflow-x: hidden; text-overflow: ellipsis; font-weight: bold;
}

.fonction__icon--grey{
    color: grey;
}

.fonction__icon--primary{
    color: #9356DC;
}

    /* Section menus */
#menus{
    padding: 40px 0; background-color: #F2F2F2;
}

#menus h2{
    width: 90%; margin-top: 0;
}

.menu{
    width: 100%; display: flex; justify-content: center; margin: 0; position: relative; margin-bottom: 20px;
}

.lien-resto{
    width: 90%; text-decoration: none; color: unset;
}

.menu .new{
    position: absolute; right: 9%; top: 5%; padding: 7px 15px;
    background-color: #99E2D0; border-radius: 2px;
}

figure{
    width: 100%; display: flex; flex-direction: column; margin: 0;
    box-shadow: 1px 1px 10px #aaa; border-radius: 15px;
}

figure img{
    height: 220px; width: auto; object-fit: cover; border-radius: 15px 15px 0 0;
}

figcaption{
    display: flex; justify-content: space-between; align-items: center;
    padding: 0 15px; position: relative;
}

.fav{
    position: relative; margin-right: 20px; padding: 0;
    width: 30px; height: 30px; overflow: hidden;
}

.fav-after, .fav-before{
    position: absolute; right: 2px; top: 0px;
    font-size: 26px;
}

.fav-before{
    display: inline-block;
}

.fav-after{
    display: inline-block;
    transform: scale(0);
    transition: all 0.5s ease-in;
    background-image: linear-gradient(30deg, #FF79DA, #9356DC);
    background-clip: text; color: transparent;
}

.fav:hover{
    cursor: pointer;
}

.fav:hover > .fav-before{
    transform: translateY(250%);
    transition-delay: 0.5s;
}

.fav:hover > .fav-after{
    transform: scale(1);
}

.nom_resto, .lieu_resto{
    color: black;
}

.nom_resto{
    font-weight: bold; margin-bottom: 0;
}

.lieu_resto{
    margin-top: 5px;
}

/* Footer */
footer{
    background-color: #353535; color: white; display: flex; flex-direction: column; justify-content: center;
    align-items: center; padding: 20px 0; 
}

footer div{
    width: 90%; margin: auto; padding: 0;
}

footer h3{
    margin: 0; padding-bottom: 12px; font-weight: normal;
}

footer ul{
    margin: 0; padding: 0;
}

footer li{
    list-style: none; margin-bottom: 8px; display: flex; align-items: center;
}

footer a{
    color: white;
}

footer i{
    margin-right: 10px; font-size: 10px;
}

.icone-footer{
    width: 24px;
}

.icone-footer i{
    font-size: 13px;
}

.icone-footer--turn i{
    transform: rotateZ(-40deg); font-size: 12px;
}
