/* Footer */
footer{
    background-color: #353535; color: white; padding: 20px 0;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    div{
        width: 90%; padding: 0;
        @include desktop-only{
            width: 95%;
        }
        h3{
            margin: 0; padding-bottom: 12px; font-weight: normal;
        }
        ul{
            margin: 0; padding: 0;
            li{
                list-style: none; margin-bottom: 8px; display: flex; align-items: center;
                .icon-footer{
                    width: 24px;
                    i{
                        font-size: 13px; margin-right: 10px;
                    }
                    &--turn i{
                        transform: rotateZ(-40deg); font-size: 12px;
                    }
                }
                a{
                    color: white;
                }
            }
        }
    }
}
