/* boutons */
.btn {
    @include buttons;
    &--explore{
        padding: 13px 25px 15px 25px;
    }
    &--order{
        margin: 50px 0;
        padding: 13px 50px 15px 50px;
        
    }
    &:hover{
        @include button-hover;
    }
}

/* icone favori */
.fav{
    width: 30px; height: 30px; overflow: hidden;

    &--index{
        position: absolute; bottom: 9%; right: 12%;
    }
    &--menu{
        position: relative; margin-right: 5%;
    }
    .fav-after, .fav-before{
        width: 100%; height: 100%;
        display: inline-block;
    }
    .fav-before{
        transition: opacity 0.4s ease-in;
    }
    .fav-after{
        position: absolute;
        background-image: linear-gradient(30deg, $secondary, $primary);
        background-clip: text;
        color: transparent;
        transform: scale(0);
        transition: all 0.4s ease-in;
    }
    &:hover{
        cursor: pointer;
        & > .fav-before{
            opacity: 0;
        }
        & > .fav-after{
            transform: scale(1);
        }
    }
    i{
        font-size: 26px; margin: 2px;
    }
}

/* Bouton retour */
#btn-back{
    position: absolute; left: 5%; margin-bottom: -10px; font-size: 22px;
    i{
        color: black;
    }
}
