/* Chargement de l'accueil */
.index{
    animation: progress-page 3.8s ease-in-out;
}

@keyframes progress-page{
    0%, 80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Animation de chargement */
.loading{
    width: 100%; display: flex; justify-content: center;
    .progress{
        position: absolute;
        width: 70%; height: 17px;
        margin: 300px auto; padding: 0;
        border: 2px solid $primary;
        border-radius: 0.5em;
        display: flex; justify-content: center;
        opacity: 0;
        animation: progress-div 3s;
        overflow: hidden;
        &__bar{
            position: relative; 
            width: 100%; height: 100%;
            background-image: linear-gradient(30deg, $tertiary, $secondary, $primary);
            border-radius: 1em;
            animation: progress-bar 3s ease-in-out;
            transform-origin: 0% 50%;
            opacity: 0;
        }
        &__txt{
            position: absolute;
            display: inline-block;
            margin-top: 350px;
            animation: progress-txt 3s ease-out;
            opacity: 0;
        }
    }
}

@keyframes progress-div{
    0%, 70%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

@keyframes progress-bar{
    0%{
        opacity: 1;
        transform: translateX(-250%);
    }
    15%{
        transform: translateX(-100%);
    }
    30%{
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes progress-txt{
    0%{
        transform: rotate(0) scale(0);
        opacity: 0;
    }
    40%{
        transform: rotate(360deg) scale(0.5);
    }
    80%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

/* Section présentation */
#localisation{
    width: 100%; padding: 15px 0; background-color: #e5e5e5;
    box-shadow: inset 0 3px 5px #cccccc;
    i{
        margin: 0; width: 30%; text-align: right;
    }
    #search{
        font-size: 16px; width: 40%; border: none; background-color: #e5e5e5;
        color: black; text-align: center;
    }
}

#intro{
    display: flex; flex-direction: column; align-items: center; background-color: #F2F2F2;
    padding: 10px 0 30px 0; width: 100%;
    h1{
        width: 70%; text-align: center; margin-bottom: 10px;
    }
    p{
        width: 80%; text-align: center; margin-top: 0;
    }
}

/* Section fonctionnement */
#fonction-liste{
    margin: 40px 0; padding: 0;
    h2{
        width: 90%; margin-top: 0;
    }
    .fonction{
        background: #F2F2F2; padding: 20px 0; width: 87%; position: relative;
        margin: 12px 5% 12px 8%; border-radius: 20px; box-shadow: 1px 2px 10px $shadow;
        white-space: nowrap; display: flex; align-items: center;
        .fonction__num{
            position: absolute; left: -12px; background: $primary; font-size: 12px; color: white;
            padding: 6px 9px 4px 9px; border-radius: 20px;
        }
        &__icon--grey, &__icon--primary{
            width: 25%; padding-left: 15px; text-align: center;
            i{
                font-size: 20px;
            }
        }
        &__icon--grey{
            color: grey;
        }
        &__icon--primary{
            color: $primary;
        }
        &__txt{
            display: inline-block; overflow-x: hidden; text-overflow: ellipsis; font-weight: bold;
        }
    }
}

/* Section restaurants */
#liste-restos{
    padding: 40px 0; background-color: #F2F2F2;
    h2{
        width: 90%; margin-top: 0;
    }
    .resto{
        width: 100%; display: flex; justify-content: center;
        position: relative; margin: 0; margin-bottom: 20px;
        &__lien{
            width: 90%; text-decoration: none; color: unset; color: black;
            &--new{
                position: absolute; right: 9%; top: 5%; padding: 7px 15px;
                background-color: $tertiary; border-radius: 2px;
            }
            figure{
                width: 100%; display: flex; flex-direction: column; margin: 0;
                box-shadow: 1px 2px 8px $shadow; border-radius: 15px;
                transition: box-shadow 0.4s;
                &:hover{
                    box-shadow: 2px 5px 8px $shadow;
                }
                img{
                    height: 220px; width: auto; object-fit: cover; border-radius: 15px 15px 0 0;
                }
                figcaption{
                    display: flex; justify-content: space-between; align-items: center;
                    padding: 0 15px; position: relative;
                    .nom-resto{
                        font-weight: bold; margin-bottom: 0;
                    }
                    .lieu-resto{
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
